$main-color: #8cc540;
$secondry-color: #29c1e2;
$main-gradiant: linear-gradient(234.92deg, #29abe2 14.45%, #8cc540 95.99%);
$bg-gradiant: linear-gradient(135deg, #8cc540 0%, rgba(140, 197, 64, 0) 100%);
$font-color: #515151;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
